section.chapter(data-type="chapter")
  p.ch-start beginning
  .folio
  hgroup
    .dup Chapter one
    h1.ct Chapter one
    p.cst chapter subtitle
    //- p.cau Geoges Moustakis
    //- p.cep This is my epigraph  This is my epigraph This is my <em>italic is reversed to roman</em> This is my epigraph This is my epigraph This is my epigraph This is my epigraph
    //- p.cepsn And the source note of that epigraph
    //- p.cepo This is my epigraph as poetry
    //- p.ceposn And the source note of that poetry
  //- h2 LOL
  p The germ from which this book grew was the Birkbeck Lectures in Ecclesiastical History, which I was invited to give in 2009 by the University of Cambridge, in conjunction with Trinity College. I was later invited to give the Bapsybanoo Marchioness of Winchester Lecture in May 2011 at the University of Oxford, hosted by the Institute of Social and Cultural Anthropology
  hr
  p (then headed by Professor David Gellner) and All Souls College. The last chapter grew from a lecture given at the Instituto de Antropologia at the Cuban Academy of Sciences in Havana, organized under the auspices of the British Academy. 
  hr.ls 
  p A two-week sojourn at the Zentrum Moderner Orient in Berlin in 2010 gave me the opportunity to present an early overview of several chapters. I remember with pleasure and gratitude the generous hospitality of all these institutions.
  ul
    lh.lpti list or poetry title
    li 
      p test
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p st of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yo 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    

  p a list without header: 

   ol
    li 
      p test
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p st of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yorust of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yo 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
    li 
      p test 2
  p While African Christianity had been a principal research interest of mine for over half a century, I was increasingly aware of just how skimpy was my knowledge of Yoruba Islam. So to prepare for the Birkbeck Lectures, I decided I need to undertake more field research specifically on Islam. This was funded by two awards from the admirable Small Grants Scheme of the British Academy, in 2008 and 2009. For this I was based at the University of Ibadan, where the Institut francais de recherche en Afrique (IFRA) under successive Directors, Dr Ruth Marshall and Dr Jean-Luc Martineau, who provided me with accommodation and much good company during both visits.
  p As a neophyte in the study of Yoruba Islam, I have been very fortunate to come to know Imam Salahuddeen Busairi, through whose example and friendship I have learned so much, especially about Muslim life in Ibadan at the local level. Professor Amidu Sanni of Lagos State University helped me greatly with contacts in Lagos and through sharing the broad sweep of his knowledge of matters Islamic. At the University of Ibadan, members of the Department of Arabic and Islamic Studies, particularly Professor M.O. Abdul-Rahmon and Dr K. K. Oloso, were always helpful in responding to my enquiries. For the warm reception I received on a visit to Al-Hikmah University, Ilorin, I thank its Vice-Chancellor, Professor R.D. Abubakre. A two-week visit to Kaduna was greatly facilitated by Fr. Matthew Kukah (now Catholic bishop of Sokoto), who also kindly arranged for Mr Samuel Aruwan to serve as a most knowledgeable guide round the city.
  p As over many years past, my time in Ibadan was greatly enhanced by the company of old friends: above all by Professor J. F. Ade Ajayi - may he rest in peace - his wife Christie and other members of his family, by Segun Oke, Tunji and Funmi Oloruntimehin, Bolanle Awe, Tunde Adegbola and Chris Bankole. I cannot omit mention of the Ven. J. S. Adekoya and his parishioners of St Paul's Church, Yemetu, who extended the hand of fellowship to me on Sunday mornings.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  h2 LOL au cube
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.
  p I have gained more from the help of friends, colleagues and former students, in discussing ideas, making suggestions and commenting on the draft chapters of this book than I can readily acknowledge. Preeminent here is the long conversation I have had since the mid-1960s with Robin Horton, which has done so much to sharpen my own thinking. I am greatly indebted to Tom McCaskie for the countless exchanges we have enjoyed over the years, as well as to my long-term SOAS colleagues Richard Fardon and Paul Gifford. Ruth Marshall, Hermione Harris, Michelle Gilbert, Caroline Ifeka, Murray Last, Karin Barber and Paulo Farias, Keith Hart, Louis Brenner, Birgit Meyer, David and Bernice Martin, David Maxwell, Joel Robbins, Michael Carrithers, David Gellner, Trevor Marchand, Gabi vom Bruck, Marloes Janson, Stephan Palmie, Matthews Ojo, Frank Ukah, Akin Oyetade, David Pratten, Kai Kresse, Amanda Villepastour and Wale Adebanwi have all helped me more than they probably know. I am indebted to Duncan Clarke for providing me with the image for the book's front cover. It shows an <em>adire</em> cloth design known as <em>Ibadan dun</em> (&quot;Ibadan is sweet&quot;), an evocation of the great Yoruba city where my research began and ended.  
