section.copyright(data-type="copyright")
  //- .right
  .cp
    p University of California Press, one of the most distinguished university presses in the United States, enriches lives around the world by advancing scholarship in the humanities, social sciences, and natural sciences. Its activities are supported by the UC Press Foundation and by philanthropic contributions from individuals and institutions. For more information, visit www.ucpress.edu.
    p University of California Press
    p Oakland, California
    p © 2016 by The Regents of the University of California
    p This work is licensed under a Creative Commons CC-BY-NC-ND license. To view a copy of the license, visit http://creativecommons.org/licenses.
    p Suggested citation: Peel, J.D.Y. Christianity, Islam, and Orisa Religion. 
    p Oakland: University of California Press, 2016. DOI: http://dx.doi.org/10.1525/luminos.8
  .cip
    p Cataloguing-in-Publication Data is on file at the Library of Congress.
    p <span class="small-caps">isbn</span>  978–0-520–28585–9 (paper : alk. paper)
    p <span class="small-caps">isbn</span> 978–0-520–96122–7 (electronic)
    p Manufactured in the United States of America
    p 24 23 22 21 20 19 18 17 16 15
    p 10 9 8 7 6 5 4 3 2 1
    p The paper used in this publication meets the minimum requirements of <span class="small-caps">ansi/niso</span> z39.48–1992 (<span class="small-caps">r</span> 2002) (<em>Permanence of Paper</em>).
