//- send the content to the fm-body
section.fm-body.list-illustration(data-type="fmBody") 
  //- .right
  //- .page-one 
  hgroup.fhgroup
    h1.fmh Illustrations 
    //- p.fmau Author Frontmatter
  h2.fm1 Colors plate
  p.fmhn Following page 298
  p.fmtxt
  ol.crossRef
    li 
      p Un écorché 
    li
      p Une autre image
    li
      p Une autre image
    li
      p Une autre image
  h2 Figures
  p lol
  ol.crossRef
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    
    
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration
    li
      p
        a(href="#") name of the illustration

    
  
    