section.serie-page(data-type="seriePage")
  //- .right
  h2.st The Anthropology of Christianity
  p.sed Edited by Joel Robbins
  ol.sl
    li 
      p Christian Moderns: Freedom and Fetish in the Mission Encounter, by Webb Keane
    li 
      p A Problem of Presence: Beyond Scripture in an African Church, by Matthew Engelke
    li 
      p Reason to Believe: Cultural Agency in Latin American Evangelicalism, by David Smilde
    li 
      p Chanting Down the New Jerusalem: Calypso, Christianity, and Capitalism in the Caribbean, by Francio Guadeloupe
    li 
      p In God’s Image: The Metaculture of Fijian Christianity, by Matt Tomlinson
    li 
      p Converting Words: Maya in the Age of the Cross, by ul Hanks
    li 
      p City of God: Christian Citizenship in Postwar Guatemala, by Kevin O’Neill
    li 
      p Death in a Church of Life: Moral Passion during Botswana’s Time of AIDS, by Frederick Klaits
    li 
      p Eastern Christians in Anthropological Perspective, edited by Chris Hann and Hermann Goltz
    li 
      p Studying Global Pentecostalism: Theories and Methods, by Allan Anderson, Michael ­Bergunder, Andre Droogers, and Cornelis van der Laan
    li 
      p Holy Hustlers, Schism, and Prophecy: Apostolic Reformation in Botswana, by Richard ­Werbner
    li 
      p Moral Ambition: Mobilization and Social Outreach in Evangelical Megachurches, by Omri Elisha
    li 
      p Spirits of Protestantism: Medicine, Healing, and ul Klassen
    li 
      p The Saint in the Banyan Tree: Christianity and Caste Society in India, by David Mosse
    li 
      p God’s Agents: Biblical Publicity in Contemporary England, by Matthew Engelke
    li 
      p Critical Christianity: Translation and Denominational Conflict in Papua New Guinea, by Courtney Handman
    li 
      p Sensational Movies: Video, Vision, and Christianity in Ghana, by Birgit Meyer
    li 
      p Christianity, Islam, and Oris­a Religion: Three ul D. Y. Peel

