section.epigraph(data-type="epigraph")
  //- .right
  blockquote.bep
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum explicabo nobis ratione modi aliquid eum magni, quisquam dolores repellat excepturi quas itaque consequatur sunt corrupti tempore reprehenderit. Beatae dolorum, et?
    cite.bepsn Henrik Urnsenar Jr
  blockquote.bepo
    p Man surprised me most about human
    p ity.
    p Be  cause he sacrifices his 
    p health in order to make money. Then   he sacrifices money to recuperate h is hea  lth . And then he is so anxious about the future that 
    p  he does
    p  not enjo
    p y the pr es ; the re sult bei ng that he does not live in the p resent or the future; he lives as if he is ne ver going to die, and then d ies having never rea lly lived.
    cite.beposn Henrik Urnsenar Jr
  blockquote.bepo
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    p Rerum explicabo nobis ratione modi aliquid eum magni, 
    p quisquam dolores repellat excepturi quas itaque consequatur 
    p sunt corrupti tempore reprehenderit. Beatae dolorum, et?
    cite.beposn Henrik Urnsenar Jr
