section.titlepage(data-type="titlepage")
  //- .right
  hgroup 
    h1.ti Christianity, Islam
      br
      | and <em>Orisa</em> Religion</h1>
    p.sti This is the subtitle, right
  //- p.torn 
  p.edby Edited by 
  p.au J.&thinsp;D.&thinsp;Y. PEEL
  p.aux George Watson and friends among others.

//- out of the section. appears only once in the book 
.publisher
  .right
  #ucp-logo  
    include _logo.pug
  p.pub University of California Press 
