//- send the content to the fm-body
section.fm-body.list-abbreviations(data-type="fmBody")
  //- .right 
  //- .page-one 
  hgroup.fhgroup
    h1.fmh List of Abbrevation 
    p.fmau the abbrevation maker
  ul.undecorated
    li
      p 
        abbr AC
      | Action Congress
    li
      p 
        abbr ACN
      | Action Congress of Nigeria
    li
      p 
        abbr AD
      | Alliance for Democracy
    li
      p 
        abbr AG
      | Action Group
    li
      p 
        abbr AIC
      | African independent church
    li
      p 
        abbr APC
      | African Peoples Congress
    li
      p 
        abbr AUD
      | Ansar-ud-Deen Society of Nigeria
    li
      p 
        abbr C&S
      | Cherubim and Seraphim
    li
      p 
        abbr CAC
      | Christ Apostolic Church
    li
      p 
        abbr CMS
      | Church Missionary Society
    li
      p 
        abbr COCIN
      | Church of Christ in Nigeria
    li
      p 
        abbr DMR
      | divergent modes of religiosity
    li
      p 
        abbr Ecomog
      | Economic Group of West Africa Monitoring Group
    li
      p 
        abbr Festac
      | Black and African Festival of Arts and Culture
    li
      p 
        abbr HGCA
      | Carl Christian Reindorf, History of the Gold Coast and Asante
    li
      p 
        abbr HY
      | Samuel Johnson, History of the Yorubas
    li
      p 
        abbr JNI
      | Jama‘atu Nasril Islam (Society for the Victory of Islam)
    li
      p 
        abbr LASU
      | Lagos State University
    li
      p 
        abbr LIA
      | League of Imams and Alfas
    li
      p 
        abbr MSS
      | Muslim Students Society
    li
      p 
        abbr Muswen
      | Muslim Ummah of South-Western Nigeria
    li
      p 
        abbr Nasfat
      | Nasrul-Lahi-il-Fathi
    li
      p
        abbr  &nbsp;
      | &nbsp;
    li
      p 
        abbr NCNC
      | National Council of Nigerian and the Cameroons (later National Congress of Nigerian Citizens)
    li
      p 
        abbr NEPA
      | Nigerian Electric Power Authority
    li
      p 
        abbr NNDP
      | Nigerian National Democratic party
    li
      p 
        abbr NPN
      | National Party of Nigeria
    li
      p 
        abbr NSCIA
      | Nigerian Supreme Council of Islamic Affairs
    li
      p 
        abbr OPC
      | Oodua People’s Congress
    li
      p 
        abbr PDP
      | People’s Democratic Party
    li
      p 
        abbr RCCG
      | Redeemed Christian Church of God
    li
      p 
        abbr SDP
      | Social Democratic Party
    li
      p 
        abbr SIM
      | Sudan Interior Mission
    li
      p 
        abbr SOAS
      | School of Oriental and African Studies (University of London)
    li
      p 
        abbr UI
      | University of Ibadan
    li
      p 
        abbr UNESCO
      | United Nations Educational, Scientific and Cultural Organization
    li
      p 
        abbr UPN
      | Unity Party of Nigeria
    li
      p 
        abbr YTR
      | Yoruba traditional religion