section.serie-page(data-type="seriePage")
  //- .right
  h2.st The Anthropology of Christianity
  p.sphn Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p.sed Edited by Joel Robbins
  ol.sl
    li 
      p <em>Christian Moderns: Freedom and Fetish in the Mission Encounter</em>, by Webb Keane
    li 
      p <em>A Problem of Presence: Beyond Scripture in an African Church</em>, by Matthew Engelke
    li 
      p <em>Reason to Believe: Cultural Agency in Latin American Evangelicalism</em>, by David Smilde
    li 
      p <em>Chanting Down the New Jerusalem: Calypso, Christianity, and Capitalism in the Caribbean</em>, by Francio Guadeloupe
    li 
      p <em>In God’s Image: The Metaculture of Fijian Christianity</em>, by Matt Tomlinson
    li 
      p <em>Converting Words: Maya in the Age of the Cross</em>, by ul Hanks
    li 
      p <em>City of God: Christian Citizenship in Postwar Guatemala</em>, by Kevin O’Neill
    li 
      p <em>Death in a Church of Life: Moral Passion during Botswana’s Time of AIDS</em>, by Frederick Klaits
    li 
      p <em>Eastern Christians in Anthropological Perspective</em>, edited by Chris Hann and Hermann Goltz
    li 
      p <em>Studying Global Pentecostalism: Theories and Methods</em>, by Allan Anderson, Michael ­Bergunder, Andre Droogers, and Cornelis van der Laan
    li 
      p <em>Holy Hustlers, Schism, and Prophecy: Apostolic Reformation in Botswana</em>, by Richard ­Werbner
    li 
      p <em>Moral Ambition: Mobilization and Social Outreach in Evangelical Megachurches</em>, by Omri Elisha
    li 
      p <em>Spirits of Protestantism: Medicine, Healing, and</em> by Klassen
    li 
      p <em>The Saint in the Banyan Tree: Christianity and Caste Society in India</em>, by David Mosse
    li 
      p <em>God’s Agents: Biblical Publicity in Contemporary England</em>, by Matthew Engelke
    li 
      p <em>Critical Christianity: Translation and Denominational Conflict in Papua New Guinea</em>, by Courtney Handman
    li 
      p <em>Sensational Movies: Video, Vision, and Christianity in Ghana</em>, by Birgit Meyer
    li 
      p <em>Christianity, Islam, and Oris­a Religion: Three</em> by D. Y. Peel

