section.fm-body#toc.toc(data-type="fmBody")
  hgroup
    h1.fmh Contents
  ul.toc.nav
    li.c-one
      p
        a(href="#aknowledgments") Acknowledgements
    li.c-one
      p
        a(href="#introduction") Introduction
    li.c-two.toc-h1
      p
        a(href="#part1") The first part. 
      ul
        li.c-three
          p
            a(href="#chap01") History, Culture And The Comparative Method: A West African Puzzle
        li.c-three
          p
            a(href="#chap02") Two Pastors And Their Histories: Samuel Johnson And C. C. Reindorf
        li.c-three
          p
            a(href="#chap03") A Comparative Analysis Of Ogun In Pre-colonial Yorubaland
        li.c-three
          p
            a(href="#chap04") Modes Of Religiosity In West Africa
        li.c-three
          p
            a(href="#chap05") Post-socialism, Post-colonialism, Pentecostalism
    li.c-two
      p
        a(href="#part2") The other part, the II
        ul.lvl2
          li.c-three
            p
              a(href="#chap06") Context, Tradition And The Anthropology Of World Religions
          li.c-three
            p
              a(href="#chap07") Conversion And Community Among The Yoruba
          li.c-three
            p
              a(href="#chap08") Yoruba Ethnogenesis And The Trajectory Of Islam
          li.c-three
            p
              a(href="#chap09") A Century Of Interplay Between Christianity And Islam
          li.c-three
            p
              a(href="#chap10") Pentecostalism And Salafism In Nigeria: Mirror-images?
          li.c-three
            p
              a(href="#chap11") The Three Circles Of Yoruba Religion
    li.bm
      p
        a(href="#notes") Notes
