doctype html 
html
  head
    meta(charset="UTF-8")
    meta(lang="en-US")
    title UCP style tests
    link(rel="stylesheet" href="assets/editoria.css" type="text/css")
  body
    .booktitle Title of the book
    //- include content/helpers/_numbering
    .frontmatter
      include content/book-division/_FM-subvention
      include content/book-division/_FM-half-title
      include content/book-division/_FM-serie-page
      include content/book-division/_FM-titlepage
      include content/book-division/_FM-copyright
      include content/book-division/_FM-dedication
      include content/book-division/_FM-epigraph
      include content/book-division/_FM-list-illustrations
      include content/book-division/_FM-list-abbreviations
      include content/book-division/_FM-toc
      include content/book-division/_FM-front-body
    .body
      include content/book-division/_B-chapter
      include content/book-division/_B-chapter2
      